$Blue-200: hsl(224, 100%, 95%);
$Blue-400: hsl(220, 100%, 64%);
$Blue-600: hsl(228, 100%, 60%);
$Blue-700: hsl(228, 99%, 58%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
@use 'breakpoint';
// font-size 17 and 14 for desc,nav,footer
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/inter-variable.ttf') format('truetype');
  font-weight: 100 900; /* Kyunki yeh variable font hai, toh yeh 100 se 900 tak saare weights support karta hai */
  font-style: normal;
  font-display: swap;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
p{
    font-size: 17px;
}
.nav,footer>p,.stat-des.desc{
    font-size: 14px;
}
h1{
    font-size: clamp(40px, 34.3662px + 1.5023vw, 56px);
    color: $White;
}

button{
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.show{
    display: flex!important;
}
.overlay{
    background-color: $Black;
    opacity: 0.25;
}
body{
    background-color: $Blue-700;
    font-family: 'Inter', sans-serif;
    color: $Blue-200;
}
.head-section{
    border-bottom: 1px solid $Blue-400;
    .navbar{
        padding: 24px 24px;
        .nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
        .hide{
            display: none;
        }
        
        .nav.mobile-menu{
            background-color: $Blue-600;
            position: absolute;
            left: 0;
            right: 0;
            top: 76px;
            font-size: 32px;
            font-weight: 500;
            display: none;
            flex-direction: column;
            gap: 12px;
            padding: 45px 0;
            z-index: 100;
        }
        .nav-link.brand::before{
            content: "";
            display: inline-block;
            width: 12px;
            height: 12px;
            background-color:$White;
            border-radius: 50%;
            margin-right: 8px;
        }
    }
    @include breakpoint.respond-to("tablet"){
        .navbar{
            padding: 24px 48px;;
        .nav.mobile-menu{
            background-color: $Blue-600;
            left: unset;
            min-height: 100vh;
            justify-content: flex-start;
            padding: 48px 96px;
            
        }
        
        }
        
    }

}
.main-section{
    display: flex;
    flex-direction: column;
    .hero{
        padding: 52px 32px;
        display: flex;
        flex-direction: column;
        gap: 28px;
        border-bottom: 1px solid $Blue-400;
        
        p{
            line-height: 1.6;
        }
    }
    .stat-section{
        .stat{
            padding: 0px 20px;
            display: flex;
            gap: 72px;
            flex-direction: column;
            border-bottom: 1px solid $Blue-400;
            .stat-head>h2{
                color: $White;
                display: flex;
                padding-top:20px ;
                justify-content: space-between;
            }
            .desc{
                padding-bottom: 12px;
                padding-top: 8px;
                line-height: 1.4;
                .heading{
                    color:$White;
                }
            }
            
        }
        &:hover{
            cursor: pointer;
        }
    }
    @include breakpoint.respond-to("tablet"){
        flex-direction: row;
        border-bottom: 1px solid $Blue-400;
        .hero{
            flex:1;
            padding: 52px 48px;
            justify-content: center;
            border-bottom: none;
            h1{
                letter-spacing: 8px;
            }
        }
        .stat-section{
            flex:1.45;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            .stat{
                padding: 0px 32px;
                border-left: 1px solid $Blue-400;
                &:nth-child(3),&:nth-child(4){
                    border-bottom: none;
                }
            }
            
            
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 24px;
    @include breakpoint.respond-to("tablet"){
        padding: 20px 48px;
        flex-direction: row;
        justify-content: space-between;
    }
}
