@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/inter-variable.ttf") format("truetype");
  font-weight: 100 900; /* Kyunki yeh variable font hai, toh yeh 100 se 900 tak saare weights support karta hai */
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  font-size: 17px;
}

.nav, footer > p, .stat-des.desc {
  font-size: 14px;
}

h1 {
  font-size: clamp(40px, 34.3662px + 1.5023vw, 56px);
  color: hsl(0, 0%, 100%);
}

button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.show {
  display: flex !important;
}

.overlay {
  background-color: hsl(0, 0%, 0%);
  opacity: 0.25;
}

body {
  background-color: hsl(228, 99%, 58%);
  font-family: "Inter", sans-serif;
  color: hsl(224, 100%, 95%);
}

.head-section {
  border-bottom: 1px solid hsl(220, 100%, 64%);
}
.head-section .navbar {
  padding: 24px 24px;
}
.head-section .navbar .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.head-section .navbar .hide {
  display: none;
}
.head-section .navbar .nav.mobile-menu {
  background-color: hsl(228, 100%, 60%);
  position: absolute;
  left: 0;
  right: 0;
  top: 76px;
  font-size: 32px;
  font-weight: 500;
  display: none;
  flex-direction: column;
  gap: 12px;
  padding: 45px 0;
  z-index: 100;
}
.head-section .navbar .nav-link.brand::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 8px;
}
@media (min-width: 768px) {
  .head-section .navbar {
    padding: 24px 48px;
  }
  .head-section .navbar .nav.mobile-menu {
    background-color: hsl(228, 100%, 60%);
    left: unset;
    min-height: 100vh;
    justify-content: flex-start;
    padding: 48px 96px;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
}
.main-section .hero {
  padding: 52px 32px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border-bottom: 1px solid hsl(220, 100%, 64%);
}
.main-section .hero p {
  line-height: 1.6;
}
.main-section .stat-section .stat {
  padding: 0px 20px;
  display: flex;
  gap: 72px;
  flex-direction: column;
  border-bottom: 1px solid hsl(220, 100%, 64%);
}
.main-section .stat-section .stat .stat-head > h2 {
  color: hsl(0, 0%, 100%);
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}
.main-section .stat-section .stat .desc {
  padding-bottom: 12px;
  padding-top: 8px;
  line-height: 1.4;
}
.main-section .stat-section .stat .desc .heading {
  color: hsl(0, 0%, 100%);
}
.main-section .stat-section:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-section {
    flex-direction: row;
    border-bottom: 1px solid hsl(220, 100%, 64%);
  }
  .main-section .hero {
    flex: 1;
    padding: 52px 48px;
    justify-content: center;
    border-bottom: none;
  }
  .main-section .hero h1 {
    letter-spacing: 8px;
  }
  .main-section .stat-section {
    flex: 1.45;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .main-section .stat-section .stat {
    padding: 0px 32px;
    border-left: 1px solid hsl(220, 100%, 64%);
  }
  .main-section .stat-section .stat:nth-child(3), .main-section .stat-section .stat:nth-child(4) {
    border-bottom: none;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 24px;
}
@media (min-width: 768px) {
  footer {
    padding: 20px 48px;
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=sytle.css.map */